<form [formGroup]="mojaForma" style="width:80%;table-layout:fixed; padding:35px;">

  <div class="form-group" [ngClass]="{'has-error':(!mojaForma.controls.ime.valid && formSubnutted)}">
    <label>Ime</label>
    <input formControlName="ime" type="text" class="form-control" placeholder="Ime">
    <div *ngIf="(!mojaForma.controls.ime.valid && formSubmitted)" class="help-block">Unesite ime</div>
  </div>

  <div class="form-group">
    <label>Prezime</label>
    <input formControlName="prezime" type="text" class="form-control"  placeholder="Prezime">
    <div *ngIf="(!mojaForma.controls.prezime.valid && formSubmitted)" class="help-block">Unesite prezime</div>
  </div>

  <div class="form-group">
    <label>Datum Rodjenja</label>
    <input formControlName="datumRodjenja"type="date" class="form-control"  placeholder="Datum Rodjenja">
    <div *ngIf="(!mojaForma.controls.datumRodjenja.valid && formSubmitted)" class="help-block">Unesite datum rodjenja</div>
  </div>
  
  <!--<div class="form-group">
    <label>Adresa:</label>
   </div>
   <div class="form-group">
    <label>Drzava</label>
    <input type="adresa.drzava" class="form-control"  placeholder="Drzava">
  </div>-->

  <div formGroupName="adresa">
    <label>Adresa:</label>
  <div class="form-group">
    <label>Grad</label>
    <input formControlName="grad" type="text" class="form-control"  placeholder="Grad">
  </div>
  
  <div class="form-group">
    <label>Ulica</label>
    <input formControlName="ulica" type="text" class="form-control"  placeholder="Ulica">
  </div>

  <div class="form-group">
    <label>Broj</label>
    <input formControlName="broj" type="number" class="form-control"  placeholder="Broj">
  </div>

  <div class="form-group">
    <label>Postanski Broj</label>
    <input formControlName="postanskiBroj" type="number" class="form-control"  placeholder="Postanski Broj">
  </div>
</div>
<div >
    <Label>Pol:</Label>
    <br>
    <label class="container">Muski
      <input formControlName="pol" value="muski" type="radio" name="pol" checked="checked">
      <span class="checkmark"></span>
    </label>
    
    <label class="container">Zenski
      <input formControlName="pol" value="zenski" type="radio" name="pol">
      <span class="checkmark"></span>
    </label>
    
    <label class="container">Ostalo
      <input formControlName="pol" value="ostalo" type="radio" name="pol">
      <span class="checkmark"></span>
    </label>
    
    </div>
    <label class="checkbox-inline" style="margin-top: 10px">
        <input type="checkbox" formControlName="saglasnost"> Saglasnost o unosenju tacnih informacija!
      </label>
    <br>
      <button type="button" (click)="consoleLoguj()">Probaj</button>
    
</form>
