<style>
  div.container {
    width: 100%;
    border: 1px solid gray;
  }

  header,
  footer {
    padding: 1em;
    color: white;
    background-color: black;
    clear: left;
    text-align: center;
  }

  nav {
    float: left;
    max-width: 160px;
    margin: 0;
    padding: 1em;
  }

  nav ul {
    list-style-type: none;
    padding: 0;
  }

  nav ul a {
    text-decoration: none;
  }

  article {
    margin-left: 170px;
    border-left: 1px solid gray;
    padding: 1em;
    overflow: hidden;
  }
</style>

<div style="border:3px solid black">
  <form [formGroup]="mojaForma" style="width:80%;table-layout:fixed; padding:35px;">

    <div style="width: 40%; float:left;">
      <div class="form-group" [ngClass]="{'has-error':(!mojaForma.controls.uplatilac.valid && formSubnutted)}">
        <div formGroupName="uplatilac">
          <label>Uplatilac</label>
          <div style="border:2px solid black">
            <input formControlName="imeIPrezime" type="text" class="form-control" placeholder="Ime i prezime">
            <input formControlName="adresaPrebivalista" type="text" class="form-control" placeholder="Adresa prebivalista">
          </div>
          <div *ngIf="(!mojaForma.controls.imeIPrezime.valid && formSubmitted)" class="help-block">Unesite ime</div>
          <div *ngIf="(!mojaForma.controls.adresaPrebivalista.valid && formSubmitted)" class="help-block">Unesite adresu</div>
        </div>
      </div>

      <div class="form-group">
        <label>Svrha uplate</label>
        <div style="border:2px solid black">
          <input formControlName="svrhaUplate" type="text" class="form-control" placeholder="Svrha uplate">
          <div *ngIf="(!mojaForma.controls.svrhaUplate.valid && formSubmitted)" class="help-block">Unesite svrhu uplate</div>
        </div>
      </div>

      <div class="form-group">
        <label>Primalac</label>
        <div style="border:2px solid black">
          <input formControlName="primalac" type="text" class="form-control" placeholder="Primalac">
          <div *ngIf="(!mojaForma.controls.primalac.valid && formSubmitted)" class="help-block">Unesite primaoca</div>
        </div>
      </div>
      <!--<div class="form-group">
              <label>Adresa:</label>
             </div>
             <div class="form-group">
              <label>Drzava</label>
              <input type="adresa.drzava" class="form-control"  placeholder="Drzava">
            </div>-->

      <div class="form-group">
        <label>Svojerucni potpis</label>
        <input formControlName="svojerucniPotpis" type="text" class="form-control" placeholder="">
        <div *ngIf="(!mojaForma.controls.svojerucniPotpis.valid && formSubmitted)" class="help-block">Potpisite se!</div>
      </div>
    </div>


    <div style="width: 40%; float:right;">
      <div class="form-group">
        <label></label>
        <input formControlName="prazno" type="number" class="form-control" placeholder="">
      </div>

      <div class="form-group">
        <label></label>
        <input formControlName="rsd" type="number" class="form-control" placeholder="RSD">
      </div>
      <div class="form-group">
        <label>Iznos</label>
        <input formControlName="iznos" type="number" class="form-control" placeholder="">
        <div *ngIf="(!mojaForma.controls.iznos.valid && formSubmitted)" class="help-block">Unesite iznos</div>
      </div>
      <div class="form-group">
        <label></label>
        <input formControlName="prazno2" type="number" class="form-control" placeholder="">

      </div>
      <div class="form-group">
        <label>Poziv na broj</label>
        <input formControlName="pozivNaBroj" type="number" class="form-control" placeholder="Broj indeksa">
        <div *ngIf="(!mojaForma.controls.iznos.valid && formSubmitted)" class="help-block">Unesite poziv na broj!</div>
      </div>

    </div>
  </form>
</div>